/* Police et style de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background:#E6E6FA;
    display: flex;
    flex-direction: column;
}

/* En-tête minimaliste */
h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #1a4b9b;
    margin: 0;
}

header h1 span {
    color: #2ea32f;
}

/* Centrage vertical et horizontal */
.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boîte du formulaire */
.login-box {
    background-color: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    max-width: 380px;
    width: 100%;
    border-top: 5px solid #059b05;
    border-bottom: 5px solid #059b05;
}

/* Titre du formulaire */
.login-box h2 {
    text-align: center;
    color: #059b05;
    margin-bottom: 25px;
    font-size: 1.4rem;
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Champs de saisie */
input {
    position: relative;
    right: 12px;
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #059b05;
    outline: none;
    box-shadow: 0 0 5px #037003;
}

/* Bouton de connexion */
button {
    width: 100%;
    padding: 12px;
    background-color: #059b05;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #056e05;
}